@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@font-face {
    font-family: GraphieBold;
    src: url(fonts/Graphie-Bold.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: GraphieLight;
    src: url(fonts/Graphie-Light.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: GraphieSemiBold;
    src: url(fonts/Graphie-SemiBold.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 20px;
    color: #333;
    font-family: GraphieLight !important;
    letter-spacing: 1px;
    margin:0;
}

h1, h2 {
    font-family: GraphieBold !important;
}

h3, h4, h5 {
    font-family: GraphieSemiBold !important;
}

.nav_wrapper {
    height: 100px;
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    z-index: 9999;
}

.nav_wrapper ul {
    list-style-type: none;
    display: inline;
    font-size: 16px;
    text-transform: uppercase;
}

.nav_wrapper li {
    list-style-type: none;
    display: inline-block;
    padding-left:15px;
    padding-right:15px;
    position: relative;
    padding-top:15px;
    padding-bottom: 15px;
    text-align: center;
    font-weight: bold !important;
}

.main_nav li {
    min-width: 150px;
}

.main_nav {
    padding-left: 0px;
}

.nav_wrapper li > ul {
    display:none;
}

.nav_wrapper li a {
    padding-bottom: 20px;
}

.nav_wrapper li:hover > ul {
}

.nav_wrapper li:hover ul  {
    display:inline-block !important;
    width: 250px !important;
    background-color: #fff;
    position: absolute;
    left: -50px;
    top: 45px;
    padding: 15px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #cccc;
    text-align: center;
}

.nav_wrapper li:hover ul li  {
    width: 100%;
    line-height:25px;
}

.nav_wrapper li:hover > li {
    width: 100%;
    display: inline-block;
}

.nav_wrapper li ul li  {
    display: inline-block;
    padding-bottom: 5px;
}

.nav_wrapper li ul li a:hover  {
    cursor: pointer;
}

.nav_wrapper li ul.green {
    border-top: 3px solid #87bd30;
}

.nav_wrapper li ul.green li a:hover {
    color: #87bd30;
}

.nav_wrapper li ul.orange {
    border-top: 3px solid #ff7800;
}

.nav_wrapper li ul.orange li a:hover {
    color: #ff7800;
}

.nav_wrapper li ul.blue {
    border-top: 3px solid #35c5f3;
}

.nav_wrapper li ul.blue li a:hover {
    color: #35c5f3;
}




/*
.nav_wrapper li:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 1px solid red;
}
*/

.main_menu {
    color: #929292;
}

.main_menu a, .main_menu a:hover, .main_menu a:visited {
    text-decoration: none;
    color: #929292;
}

.main_menu li:hover {
    font-family: GraphieBold;
}

.main_menu li:hover li {
    font-family: GraphieLight !important;
    font-weight: normal;
}

.login_button {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 15px;
    padding-right: 15px;
    width: 100px !important;
    font-weight: bold;
    color: #333;

    border: 2px solid transparent;
    border-image: linear-gradient(90deg,  rgba(60,57,146,1) 10%, rgba(239,60,150,1));
    border-image-slice: 1;
}

.main_aux_nav {
    float: right;
    padding-right: 0px;
    cursor: pointer;
}

.logo {
    padding-left:0px;
}

.hero_wrapper {
    background-image: url('/img/hero_bg.jpg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    min-height: 557px;
    text-align: center;
    margin: 0 auto;
    padding-top:90px;
    width: 100%;
}

.hero_wrapper h1 {
    font-size: 35px;
    font-weight: bold;
}

.hero_wrapper h2 {
    font-size: 20px;
    font-weight: normal;
    padding-top: 15px;
}

.hero_wrapper button {
    font-size: 16px;
    font-weight: normal;
    margin-top: 15px;
    color: #fff;
    background-color: #26249f;
    text-transform: uppercase;
    padding:10px 45px 10px 45px;
}

.section {
    padding-top: 75px;
    padding-bottom: 50px !important;
    /*border-bottom:2px solid #ccc;*/
}

.section h2 {
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 15px;
}

.section p {
    padding: 15px;
}

.section .bottom_p {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.section img {
    padding: 15px;
}

.centered {
    margin:0 auto;
    text-align: center;
}

.inner_content_wrapper {
    max-width: 75%;
}

.inner_content__container_wrapper {
    max-width: 85%;
}

.timeline_left {
    float: left;
    text-align: right;
    max-width: 420px;
}

.timeline_right {
    float: right;
    text-align: left;
    max-width: 420px;
    margin-top: 30px;
}

.bullets_left {
    float: left;
    text-align: right;
    max-width: 490px;
}

.bullets_right {
    float: right;
    text-align: left;
    max-width: 490px;
}

.covered {
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 850px;
    margin-bottom: 75px;
}

.covered h5 {
    color: #ff05a1;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
}

.no_padding {
    padding-bottom: 0px !important;
}

.section_wrapper {
    display: inline-block !important;
}

button, input {
    outline: none !important;
}

button {
    font-size: 16px;
    margin-top: 15px;
    color: #fff;
    background-color: #26249f;
    text-transform: uppercase;
    padding:10px 45px 10px 45px;
    border: 0px !important;
    font-weight: bold;
    font-family: GraphieBold !important;
    letter-spacing: 1px;
}

button:hover {
    cursor: pointer;
}

.empowerment, .logos {
    list-style-type: none;
    display: inline-block;
    width: 100%;
    padding-left:0px;
}

.empowerment li, .logos li {
    list-style-type: none;
    display: inline-block;
    max-width: 240px !important;
    padding: 15px;
    text-align: center;
    vertical-align: top;
}

.empowerment li, .empowerment li img {
    padding-top: 0px;
    padding-bottom: 0px;
}


.cyber_insurance .logos li, .cyber_insurance .logos li img {
    padding-bottom: 0px;
    padding-top: 15px;
}

.secure_more {
    background-image: url('/img/four_points.jpg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    min-height: 557px;
    text-align: center;
    margin: 0 auto;
    padding-top:90px;
    width: 100%;

}

.cyber_officer {
    margin-right: 0px;
}

.container {
    margin-right:0px;
}

.non_profits {
    background-image: url('/img/nonprofit_bg.jpg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    min-height: 375px;
    text-align: center;
    margin: 0 auto;
    padding-top:90px;
    width: 100%;
}

.full_cta {
    background-image: url('/img/cta_bg.jpg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0 auto;
    padding-top:0px;
    padding-bottom:15px !important;
    width: 100%;
}

.full_cta button {
    background-color: transparent;
    border: 2px solid #fff !important;
    color: #fff;
}

.full_cta button:hover {
    background-color: transparent;
    border:2px solid #ff05a1 !important;
    color: #fff;
}

.non_profits p {
    padding-top: 0px;
}

.light {
    color: #fff !important;
}


.pink button:hover {
    background-color: #ff05a1 !important;
}

.pink_color:hover {
    color: #ff05a1 !important;
}

.green button:hover {
    background-color: #87bd30 !important;
}

.green_color:hover {
    color: #87bd30 !important;
}

.orange button:hover {
    background-color: #ff7800 !important;
}

.orange_color:hover {
    color: #ff7800 !important;
}

.blue button:hover {
    background-color: #35c5f3 !important;
}

.blue_color:hover {
    color: #35c5f3 !important;
}

.footer {
    font-size:14px;
}

.footer_wrapper {
    margin-left: 40px;
    margin-right: 40px;
}

.footer p {
    padding-left: 0px;
    color: #929292;
}

.footer ul {
    padding-left: 0px;
}

.footer ul li {
    list-style-type: none;
    padding-left: 0px;
    text-transform: uppercase;
    font-size:16px;
    line-height: 25px;
    padding-bottom:10px;
}

.footer ul li a {
    text-decoration: none;
    color: #929292;
}

.footer ul li a:hover {
    text-decoration: none !important;
}

.container.footer {
    padding-top: 30px;
    padding-bottom: 0px !important;
}

.container.footer.contact ul li {
    padding-left: 0px;
    font-size: 14px;
}

.container.footer.contact ul li img {
    padding-left: 0px;
    padding-right: 0px;
}

.bottom_piece {
    border-bottom: 0px;
}

.news_module_wrapper {
    border: 1px solid #ccc;
}

.news {
    padding-bottom: 75px !important;
    margin-right: 0px;
    margin-left:10px;
}

.news h1 {
    padding-bottom: 30px;
}

.module_content {
    padding: 30px;
    color: #000;
}

.news_module_wrapper:hover > .module_header {
    background-color: #5f6875;
}

.news_module_wrapper:hover > .module_content {
    background-color: #f7f7f7;
}

.module_content a, .module_content a:hover {
    color: #5b5b5b;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
}

.module_content a:hover {
    border-bottom: 2px solid #38cfff;
    text-decoration:  none;
    padding-bottom: 10px;
}

.module_header {
    background-color: #979da5;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    border-bottom: 3px solid #38cfff;
    font-weight: bold;
    font-family: GraphieSemiBold;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.secure_more h5 {
    font-size: 36px;
    width: 50px;
    margin-top: 15px;
}

.secure_more .left {
    border-right: 3px solid #fff;
    padding-right:30px;
}

.secure_more .right {
    border-left: 3px solid #fff;
    padding-left: 30px;
}

.attributor {
    color: #4f4f4f !important;
}

.testimonial p {
    padding-bottom: 0px;
}

.seperator {
    width: 100%;
    border: 3px solid #dedede;
    height: 2px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .main_content {
    padding-top: 100px;
}

.investment_partners {
    padding-bottom: 0px !important;
}

@media (min-width: 768px) {
    .col-md-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
        flex: 2 0 16.666667%;
        max-width: 22.666667%;
    }
}