@media (min-width: 1200px) {
    .container {
        max-width: 1300px;
    }
}

body {
    font-size: 20px;
    color: #333;
}

.nav_wrapper {
    min-height: 100px;
    background-color: #fff;
    padding: 20px;
}

.nav_wrapper ul {
    list-style-type: none;
    display: inline;
    font-size: 16px;
    text-transform: uppercase;
}

.nav_wrapper li {
    list-style-type: none;
    display: inline;
    padding-left:15px;
    padding-right:15px;
}

/*
.nav_wrapper li:before{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 25%;
    border-bottom: 1px solid red;
}
*/

.main_menu {
    margin-top: 18px;
    color: #929292;
}

.main_menu a, .main_menu a:hover, .main_menu a:visited {
    text-decoration: none;
    color: #929292;
}

.logo {
    padding-left:30px;
}

.hero_wrapper {
    background-image: url('/img/hero_bg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 600px;
    text-align: center;
    margin: 0 auto;
    padding-top:90px;
}

.hero_wrapper h1 {
    font-size: 35px;
    font-weight: bold;
}

.hero_wrapper h2 {
    font-size: 20px;
    font-weight: normal;
    padding-top: 15px;
}

.hero_wrapper button {
    font-size: 16px;
    font-weight: normal;
    margin-top: 15px;
    color: #fff;
    background-color: #26249f;
    text-transform: uppercase;
    padding:10px 45px 10px 45px;
}

.section {
    padding-top: 75px;
    padding-bottom: 75px !important;
    border-bottom:2px solid #ccc;
}

.section h2 {
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 15px;
}

.section p {
    padding: 15px;
}

.section img {
    padding: 15px;
}

.centered {
    margin:0 auto;
    text-align: center;
}

.inner_content_wrapper {
    max-width: 70%;
}

.inner_content__container_wrapper {
    max-width: 78%;
}

.timeline_left {
    float: left;
    text-align: right;
    max-width: 420px;
}

.timeline_right {
    float: right;
    text-align: left;
    max-width: 420px;
}

.covered {
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 850px;
}

.covered h5 {
    color: #ff52ef;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
}

.no_padding {
    padding-bottom: 0px !important;
}

.section_wrapper {
    display: inline-block !important;
}

button, input {
    outline: none !important;
}

button {
    font-size: 16px;
    font-weight: normal;
    margin-top: 15px;
    color: #fff;
    background-color: #26249f;
    text-transform: uppercase;
    padding:10px 45px 10px 45px;
}

button:hover {
    cursor: pointer;
}

.empowerment, .logos {
    list-style-type: none;
    display: inline-block;
    width: 100%;
    padding-left:0px;
}

.empowerment li, .logos li {
    list-style-type: none;
    display: inline-block;
    max-width: 240px !important;
    padding: 30px;
    text-align: center;
    vertical-align: top;
}

.secure_more {
    background-image: url('/img/four_points.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 463px;
    text-align: center;
    margin: 0 auto;
    padding-top:90px;
    background-size: 100%;
    position: absolute;
    left: 0;
    right: 0;
}

.non_profits {
    background-image: url('/img/four_points.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 463px !important;
    text-align: center;
    margin: 0 auto;
    padding-top:90px;
    background-size: 100%;
    position: absolute;
    left: 0;
    right: 0;
    display:inline-block;
}

.light {
    color: #fff !important;
}


.pink button:hover {
    background-color: #ff16a8 !important;
}
